<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
     <style>
        div{
            outline: 1px dashed black;
            background-color: #f0f0f0ac;
        }
     </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Action 1</a>
                            <a class="dropdown-item" href="#">Action 2</a>
                            <a class="dropdown-item" href="#">Action 3</a>
                            <a class="dropdown-item" href="#">Action 4</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex my-2 my-lg-0">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
      </div>
    </nav>
    
  </header>
  <main>
      <div class="container">
        <div class="row">
            <div class="col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid exercitationem soluta inventore, numquam maiores tenetur minima porro. Magni, possimus amet veniam id ipsam beatae aliquid earum, culpa, aut debitis quas!</div>
            <div class="col-3">Asperiores quia, provident reiciendis sequi, recusandae dolore, laboriosam sed sunt aperiam eveniet eum ut eos obcaecati dicta repellendus quod voluptates at eaque dolorem! Laborum iste saepe tenetur quasi repellendus earum!</div>
            <div class="col-3">Beatae quas sed temporibus dicta eveniet odio non asperiores excepturi voluptatum minima, quod cupiditate qui ab blanditiis est dolores amet voluptate! Ab quidem officia, fugiat repudiandae laborum voluptates totam ea.</div>
            <div class="col-3">Pariatur, cupiditate delectus. Facere autem ipsum, pariatur necessitatibus amet aut placeat error dolores ratione accusamus quod. Nihil, in consequuntur veritatis inventore sunt tenetur esse quod beatae excepturi quam dicta sit?</div>
            <div class="col-3">Exercitationem molestiae fuga quibusdam ipsam ea eaque, impedit perspiciatis? Non accusantium cupiditate corrupti officia repudiandae assumenda molestiae, molestias adipisci dicta, enim optio nemo eius ab asperiores, tempore expedita commodi odio!</div>
            <div class="col-3">Aspernatur maiores fugiat quibusdam modi numquam fugit id, iure corrupti illum consectetur ipsa magni, facere a, autem hic quasi. Fuga necessitatibus reprehenderit exercitationem accusamus, debitis nulla doloremque! Tempore, nesciunt eius.</div>
            <div class="col-3">Quis alias, iure minus vero dolore doloremque debitis? Sint quasi fugit laudantium eum omnis ab atque inventore quis aspernatur, illum rerum delectus nisi. Temporibus atque, nostrum ratione iusto fugiat soluta!</div>
            <div class="col-3">Repellendus ea asperiores, tempora eveniet, iusto commodi maiores nulla, assumenda odio ullam ab ex alias molestiae dicta facere libero! Officiis rem sunt nemo repellat at qui tempore reiciendis expedita error.</div>
            <div class="col-3">Facilis ratione inventore placeat, ipsum nulla doloribus nemo? Exercitationem ut sint, sed perferendis quae quos eum nam pariatur aperiam molestias non explicabo officia, eos error? Cumque placeat aliquam enim cupiditate!</div>
            <div class="col-3">Quia natus, explicabo aperiam fugit molestias tenetur quo praesentium rerum maxime odit minima similique nisi cupiditate officia harum quod, corrupti assumenda? Ab minus deserunt similique praesentium expedita cum facere eum.</div>
            <div class="col-3">Eum magni libero animi tenetur. A quisquam tempore aspernatur, officia, quibusdam enim ullam excepturi rerum omnis voluptate consequatur magni esse fuga sint, nemo non iste quod neque ipsa. Possimus, consequuntur.</div>
            <div class="col-3">Veniam fugiat iste tempore consequatur pariatur tempora eum vel labore cupiditate deleniti debitis atque aut, voluptatibus nostrum itaque voluptates quam dignissimos dolorum. Perspiciatis laborum sapiente debitis deserunt explicabo dolor a?</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, voluptate? Quas expedita earum vitae maxime itaque laudantium, minima possimus laboriosam eveniet labore suscipit adipisci voluptate, magni a dolore deleniti accusantium.</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Quidem nulla, in accusamus qui maiores, fuga error quia, voluptatibus provident sit dolor voluptates. Consequuntur similique, vero expedita molestiae recusandae commodi id autem quod, natus mollitia dolor architecto atque ratione?</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Consectetur cumque nostrum sunt quia quaerat ea fugit dolores iure ab commodi necessitatibus nihil, pariatur eligendi non quasi labore minima perferendis reiciendis. Nihil expedita doloremque nisi, dignissimos beatae quas numquam.</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Recusandae, laborum ipsa? Quibusdam, quas. Mollitia voluptate facere voluptatem, quidem totam consequuntur asperiores dignissimos excepturi harum explicabo quaerat fugiat at nulla optio atque laudantium nihil dolores, pariatur culpa ducimus praesentium?</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Aut hic at ipsam suscipit, odio maiores nisi molestiae, laudantium inventore porro in illum soluta minima dolor quas expedita molestias ea assumenda repudiandae! Nostrum non neque aut nisi quis voluptate.</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Illum, perferendis impedit dolorem laboriosam incidunt saepe ipsam odio earum, harum quo neque? Laborum magnam possimus in, doloremque alias rem aliquam quia minima suscipit itaque ullam fugit, voluptate quos modi?</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Quia ex quos a eius suscipit excepturi, quod velit corporis, magni reiciendis eligendi quo atque, ut tempore adipisci molestias doloribus labore nihil minima vel hic nesciunt! Cupiditate nobis culpa soluta.</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Quis aperiam ad in dolor unde necessitatibus laboriosam ullam architecto consequatur cupiditate facilis recusandae aliquid assumenda soluta beatae rem tempore labore animi suscipit vero voluptates, quia quibusdam possimus. Provident, libero?</div>
        </div>
      </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>