<!doctype html>
<html lang="en">

<head>
  <title>Open Mateo</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- FontAwesome 6.2.0 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- (Optional) Use CSS or JS implementation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
        integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .hero{
            background-image: url('https://open-meteo.com/images/convective_clouds.webp');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 600px;
        }
    </style>
</head>

<body>
  <header>
    <!-- place navbar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <i class="fa fa-sun"></i> Open Mateo
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">API Docs</a>
                    </li>
                </ul>
                <ul class="navbar-nav mt-2 mt-lg-0">
                  <li class="nav-items"><a href="#" class="nav-link"><i class="fa-brands fa-github fa-2x"></i></a></li>
                  <li class="nav-items"><a href="#" class="nav-link"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
                  <li class="nav-items">
                   
                       <div class="dropdown open">
                        <button class="btn  dropdown-toggle nav-link" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                              <i class="fa fa-moon fa-2x"></i>
                            </button>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                          <button class="dropdown-item" href="#">
                            <i class="fa fa-sun "></i> Light</button>
                          <button class="dropdown-item " href="#">
                            <i class="fa  fa-moon"></i> Dark</button>
                          <button class="dropdown-item " href="#">
                            <i class="fa  fa-adjust"></i> Auto</button>
                        </div>
                       </div>
                    
                  </li>
                </ul>
            </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container-fluid hero">
      <div class="row">
        <div class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum unde commodi in assumenda ipsum, minus, dolores dolorem quia vitae iusto nesciunt error nemo reiciendis eum voluptatum possimus tempore, ad saepe?</div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sequi porro illo labore, asperiores, nobis qui sit quidem iusto quae repellat fugiat possimus tempora, officiis harum ex atque ipsam expedita!</div>
        <div class="col-lg-6">Laborum laboriosam excepturi est nulla cumque dolor quas tempora voluptate eligendi qui odit, exercitationem tempore nemo distinctio quisquam enim voluptas commodi iusto, placeat eos unde amet quod dignissimos eum. Ipsum?</div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xxl-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit amet. Accusamus ratione minus dolore atque provident assumenda doloribus incidunt veritatis eum sint commodi impedit animi perferendis, ab aliquam velit?</div>
        <div class="col-lg-6 col-xxl-4">Iure fugiat sed dolore quam dolorem quia reiciendis velit at iste modi aliquid delectus provident non molestias quo ipsum dolor error voluptas, soluta debitis pariatur. Voluptas minima dicta laboriosam repudiandae.</div>
        <div class="col-lg-6 col-xxl-4">Ipsam cupiditate, beatae dolorem, sunt quam dolore recusandae impedit, voluptatum quaerat quisquam quasi officia magnam dicta expedita. Explicabo, quas doloribus! Odio ipsa necessitatibus consectetur praesentium vitae itaque, veniam commodi optio?</div>
        <div class="col-lg-6 col-xxl-4">Laudantium praesentium at illum voluptatibus ullam, consectetur distinctio commodi aut, qui iste architecto necessitatibus aspernatur quae voluptas quibusdam dolor ex repudiandae dolorum dicta! Omnis, ut facilis sed unde consectetur laboriosam.</div>
        <div class="col-lg-6 col-xxl-4">Quas iste nam consequatur pariatur, ullam error soluta, deserunt porro rem est doloribus atque voluptatem. Repellat, culpa laborum officia sed, eaque reiciendis nam facilis eos nisi ipsa molestiae cupiditate impedit?</div>
        <div class="col-lg-6 col-xxl-4">Eius commodi quam molestias dolor id ex ut animi culpa quo incidunt, eaque temporibus odio quidem, corporis dolorum? Labore nisi enim quibusdam aliquam autem adipisci sed est assumenda voluptatem nemo!</div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h2>Change the background</h2>
            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then,
              mix and match with additional component themes and more.</p>
            <button class="btn btn-outline-primary" type="button">Example button</button>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="h-100 p-5 bg-primary border rounded-3">
            <h2>Add borders</h2>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure
              to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both
              column's content for equal-height.</p>
            <button class="btn Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then,
              mix and match with additional component themes and more." type="button">Example button</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sapiente voluptates quas modi, sit exercitationem. Nisi tempore sunt ratione nobis accusantium aspernatur, ipsum necessitatibus quo tenetur illum! Incidunt, officiis quod!</div>
      <div class="col-xs-6 col-sm-3">Consequuntur illo fugiat explicabo nisi, at praesentium itaque ab natus? Quo, vel enim, fugiat saepe consequuntur dicta suscipit voluptatum consequatur porro quisquam necessitatibus dignissimos numquam magni provident nihil. Officia, inventore?</div>
      <div class="col-xs-6 col-sm-3">Nisi voluptatibus, recusandae eveniet odit laboriosam non molestias, rem est nostrum molestiae dicta. A, natus alias recusandae sequi amet quod illum sint porro atque praesentium ipsum quia totam voluptas harum!</div>
      <div class="col-xs-6 col-sm-3">Amet obcaecati vero hic ipsa, aperiam beatae tempora iure quod iusto facere odit, fuga vel commodi tenetur dolor ea laborum sed consequuntur? Iusto reprehenderit dignissimos dolores. Consectetur ducimus impedit reiciendis?</div>
    </div>
    <!-- place footer here -->

  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>